* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}


nav {
    flex: 1;
    text-align: left;
    margin-left: 40px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;

}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

.small-container .col-4 p {
    color: black;

}

.container {
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.row h1 {
    color: white;
}

.cart-icon {
    color: white;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;


}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;

}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;


}

.btn {
    display: inline-block;
    background: rgb(190, 28, 218);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;

}

.header {
    background: rgb(190, 28, 218);
    background: radial-gradient(circle, rgba(190, 28, 218, 0.6054796918767507) 35%, rgba(61, 43, 50, 1) 100%);
}

.header .row {
    margin-top: -40px;

}

.categories {
    margin: 300px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title-product{
    text-align: center;
    margin: 100px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;

}

.title::after {
    content: "";
    background: rgb(190, 28, 218);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: black;
    font-weight: bold;
}

.col-4 p {
    font-size: 14px;

}

.col-4:hover {
    transform: translateY(-5px);
}

/*----- offer ---->*/


.offer {
    background: radial-gradient(circle, rgba(190, 28, 218, 0.6054796918767507) 35%, rgba(61, 43, 50, 1) 100%);
    margin-top: 80px;
    padding: 30px 0;

}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: white;

}

/*----- testimonial ---->*/
.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa .fa-quote-left {
    font-size: 34px;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*----- brands ---->*/

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}


/*----- footer ---->*/

.footer {
    background: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;

}

.footer p {
    color: white;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer .haunted-logo-footer {
    width: 180px;
    margin-bottom: 20px;

}

.footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 100%;
    margin-bottom: 10px;


}


.footer-col-2 {
    flex: 1;
    text-align: center;
}


.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

/*----- cart items ---->*/
.cart-page {
    margin: 80px auto;

}


table {
    width: 100%;
    border-collapse: collapse;

}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-info p {
    color: black;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: #f5c2c7;
    font-weight: normal;
}

td {
    padding: 10px 5px;

}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;

}

td a {
    color: #f5c2c7;
    font-size: 12px;

}

.cart-info .removerCarrinho {
    color: black;

}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #f5c2c7;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;

}

th:last-child {
    text-align: right;
}

/*----- account page ---->*/

.account-page {
    padding: 50px 0;

}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;

}

.form-btn {
    display: inline-block;

}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    transition: 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;


}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;

}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegisterForm {
    left: 0;
}

form a {
    font-size: 12px;

}

#Indicator {
    width: 100px;
    border: none;
    background: #f5c2c7;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
}

/*----- swiper---->*/

.container-swiper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiper {
    width: 100%;
    min-height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}

.swiper-slide img {
    width: 30%;
    min-height: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper .swiper-pagination-bullet-active {
    background: white;
}


.fullbanner {
    background: transparent !important;
    height: 100vh;
    position: relative;
    width: 100%;

}

.swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;


}
.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
}

.fullbanner img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;

}

/*----- media query for menu ---->*/

@media only screen and (max-width: 800px) {

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    nav ul li a {
        color: #fff;

    }

    .menu-icon {
        display: block;
        cursor: pointer;

    }


    /*----- media query for less than 600 screen size ---->*/
    @media only screen and (max-width: 600px) {
        .row {
            text-align: center;

        }

        .col-2, .col-3, .col-4 {
            flex-basis: 100%;

        }

        .cart-info p {
            display: none;

        }


    }
    @media (max-width: 767px) {

        .desktop {
            display: none;
        }
    }
}

